body{
    font-size: 97.5%;
    font-family: "Lucida sans Unicode", verdana, Arial, Helvetica, sans-serif;
    text-align: left;
    line-height: 2.5;
    background-image: url("../img/Background.jpg");
}
.body{
    width: 40%;
    margin: 0 auto;
    min-width: 500px;
}
.wrapper{ 
    margin-top: 25%;
    width: 100%;
    background-color: darkcyan;
    border: 1px;
    border-style: inset;
    border-radius: 10px;
    float: left;
    display: none;
}
.button{
    padding:8px 30px 8px 30px;
    background-color: darkcyan;
    color: white;
}
.log{
    width: 50%;
    margin: 10% auto 0 auto;
}
.log input[type="submit"] {
    width: 83%;
    border-radius: 5px;
    padding: 10px 0;
}
.log input[type="submit"]:hover{
    cursor: pointer;
    background-color: white;
    color: darkcyan;
}
.log input{
    width: 80%;
    border-radius: 5px;
    margin-bottom: 2%;
    padding: 5px 0;
}

.imgLogo{
    width: 29%;
    float: left;
    margin: 0 1% 6% 0;
}
.imgLogo img{
    width: 100%;
}
.errorMenu{
    background-color: darkcyan;
    border: 1px;
    border-style: inset;
    border-radius: 10px;
    float: left;
    width: 100%;
    display: none;
}
.errorMenu img{
    margin-left: 15%;
    width: 15%;
}
