body{
    font-size: 97.5%;
    font-family: "Lucida sans Unicode", verdana, Arial, Helvetica, sans-serif;
    text-align: left;
    line-height: 1.5;
    min-width: 650px;
}
.body{
    margin: 0 auto;
}
a{
    text-decoration: none;   
}
#background{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
#errorMessage{
    background: rgba(255, 0, 0, 0.61);
    border-radius: 5px;
    width: 86%;
    margin: -1% auto 2% auto;
    padding: 10px 20px;
}
#errorMessage p{
    width: 96%;
    display: inline-block;
}
#errorMessage span{
    display: inline-block;
    width: 1%;
    padding: 4px 10px 4px 10px;
}
#errorMessage span:hover{
    border: 1px solid rgba(255, 0, 0, 0.71) ;
    border-radius: 20px;
    cursor: pointer;
}

#message{
    background: rgba(0, 255, 5, 0.61);
    border-radius: 5px;
    width: 86%;
    margin: -1% auto 2% auto;
    padding: 10px 20px;

}
#message p{
    width: 96%;
    display: inline-block;
}
#message span{
    display: inline-block;
    width: 1%;
    padding: 4px 10px 4px 10px;
}
#message span:hover{
    border: 1px solid rgba(0, 255, 5, 0.71); ;
    border-radius: 20px;
    cursor: pointer;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.menu nav{
    padding: 0 0 10px 0 ;
    width: 88%;
    margin: 0 auto;
    height: 40px;
    background-color: darkcyan;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu nav ul{
    width: 80%;
    margin:0 auto;
    list-style: none;

}
.menu nav ul li{
    float: left;
    display: inline;
    height: 50px;

}
.menu nav a{
    padding: 10px 40px;
}
.menu nav a:link,.menu nav a:visited{
    color: #FFF;
    display: inline-block;


}
.menu nav ul li:hover{
    background-color: #FFF;

    border-radius: 10px;
}
.menu nav ul li:hover a{
    color: darkcyan;
}
.wrapper{
    margin-top: 7%;

}
.addNews{

    position: fixed;
    margin-left: 1%;
    font-size: 92%;
    width: 35%;
    border: 1px midnightblue solid;
    border-radius: 15px;
    padding: 1% 0;
    float: left;
    min-height: 300px;

}
.addNews label{
    width: 50%;
    margin-top:2px;
    margin-left: 20px;
}
.addNews input[type="text"],.addNews input[type="date"],.addNews input[type="file"],.addNews textarea,.addAdmin input[type="password"]{
    width: 90%;
    margin: 5px 20px 5px 20px;
    border-radius: 5px;
    padding: 2% 0 2% 0;
}
.addNews input[type="text"],.addNews input[type="password"],.addNews input[type="date"],.addNews textarea{
    padding-left: 2%;
    border: 1px;
}
.addNews input[value="special"]{
    width: 240px;
    margin-top:2px;
}
.addNews input[value="simple"]{
    width: 153px;
    margin-top:2px;
}
.addNews textarea{
    height: 88px;
    max-width: 91%;
}

input[type="submit"]{
    display: block;
    margin: 0 0 5px 20px;
    width: 52%;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: midnightblue;
    color: white;
    border: none;
}
 input[type="submit"]:hover{
    cursor: pointer;
}
.addNews input[type="checkbox"]{
    margin-left: 32px;
}
.infoPDF{
    display: none;
}
.addAdmin, .groupeAndDocs{
    position: fixed;
    left: 36%;
    display: none;
    margin-left: 2%;
    min-height: 200px;
}
.addAdmin input[type="submit"]{
    margin-top: 10px ;
}

#allNews{
    position: relative;
    left: 36%;
    width: 60%;
    float: left;
    font-size: 82%;
    margin-left: 2%;
    border: 1px midnightblue solid;
    border-radius: 15px;
}
td,th{

    text-align: center;
   
}
tr{
    border-bottom: 1px midnightblue solid;
    border-top: 1px midnightblue solid;
}
#allNews img{
    width: 70%;
}
.imgRemove{
    width: 2%;
}
.imgRemove img{
    width: 32% !important;
    opacity: 0.5;
}
.imgRemove img:hover{
    cursor: pointer;
    opacity: 1;
}
/*------------------ADD MEMBERS------------------------------*/
.composition {
    position: relative;
    left: 36%;
    width: 60%;
    display: none;
    margin-left: 2%;
    min-height: 200px;
    font-size: 0.9em;
}
.composition table{
    border: 1px midnightblue solid;
    border-radius: 15px;
    margin:3% 2%;
    width: 90%;
}
.addMember{
    width: 75%;
    margin-left: 2%;
    border: 1px midnightblue solid;
    border-radius: 15px;
}
.addMember input, .addMember select{
    width: 80%;
    height: 35px;
    margin: 5px 0;
    padding-left: 5px;
    border-radius: 5px;
}
.addMember input[type="submit"],.addMember select{
    width: 82%
}
.addMember form{
    width: 64%;
    margin: 2% 0 2% 161px;
}
.addMember img{
    position: absolute;
    margin: 5% 2% 0 2%; 
}
@media all and (max-width: 1470px){

}
@media all and (max-width: 1319px){
    .menu nav{
    width: 100%;
    padding-left: 10%;
    }
    .menu nav ul{
        width: 100%;
    }
}
@media all and (max-width: 1313px){
    .addAdmin{
        left: 37%;
    }
    #allNews{
        left: 37%;
    }

}
@media all and (max-width: 1265px){
    #allNews{
        left: 38%;
        width: 57%;
    }
    .addAdmin{
        left: 40%;
    }
}
@media all and (max-width: 1265px){
    .addAdmin{
        left: 45%;
    }
    /*#allNews{
        left: 45%;
        width: 50%;
    }*/
}
@media all and (max-width: 1170px){
    .addAdmin{
        left: 45%;
    }
    .menu nav a{
        padding: 10px 45px;
    }

}
@media all and (max-width: 1170px){
    .menu nav{
    padding-left: 0;
    }
}
@media all and (max-width: 1060px){
    .menu nav a{
        padding: 10px 38px;
    }

}
@media all and (max-width: 1040px){
    .addNews{
        position: relative;
        width: 98%;
    }
    #allNews{
        position: relative;
        left: 0;
        width: 98%;
        margin-left: 1%;
        margin-top: 3%;
    }
    .addAdmin{
        left: 0;
        margin-left: 1%;
        margin-top: 3%;
    }
    .menu{
        position: relative;
        left: 0;
    }
    .menu nav a{
        padding: 10px 30px;
    }
    .composition {
        position: relative;
        left: 0;
        width: 100%;
        margin-left: 1%;
        margin-top: 3%;
        display:inline;
    }
    .composition table{
        margin-left: 0;
    }
    .addMember{
        margin-left: 0;
        width: 97%;
    }

}

@media all and (max-width: 950px){
    .menu nav ul{
        text-align: center;
        padding: 0;
    }
    .menu nav{
        height: 250px;
        padding: 0;

    }

    .menu nav ul li{
        display: block;
        width: 100%;
    }
}
/*
@media all and (max-width: 925px){
    .addAdmin{
        left: 52%;
    }
}
@media all and (max-width: 900px){
    .addAdmin{
        left: 54%;
    }
}*/
